# Compiled class file
*.class

# Idea files
.idea/workspace.xml
.idea/uiDesigner.xml
.idea/deployment.xml
.idea/shelf
.idea/ant.xml
.idea/dataSources.local.xml

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
